.choiceBtnCtn {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.playBtn {
  background-color: bisque;
  color: rgb(50, 50, 50);
  padding: 10px 30px;
  margin-top: 50px;
  font-weight: bold;
}